@model MiniMovieWorld.Web.ViewModels.Movies.AllMoviesViewModel

@{
    this.ViewData["Title"] = "All Movies";
}

<h1 style="font-size: 75px" class="text-center">@this.ViewData["Title"]</h1>

<div class="text-center">
    <form method="get" asp-controller="Movies" asp-action="FindMovieByInput">
        <div class="form-group">
            <br />
            <input class="form-control" type="text" name="input" placeholder="Search Movies">
            <div>
                <br />
                <input type="submit" value="Find Movie" class="btn " />
            </div>
        </div>
    </form>
</div>

<hr />
<div class="row">
    @foreach (var movie in this.Model.Movies)
    {
        <div class="col-auto">
            <div class="card" style="width: 10rem;">
                <img src="~/images/MovieImages/@movie.Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title font-weight-bolder text-center" style="color: #ff5f13">@movie.Title (@movie.Year)</h5>
                    <h6 class="card-title font-weight-bold text-center">Duration</h6>
                    <p class="card-text font-weight-light text-center">@movie.Duration</p>
                    @if (movie.UserRates > 0)
                    {
                        <h6 class="card-title font-weight-bold text-center">Rated</h6>
                        <p class="card-text font-weight-light text-center">@movie.UserRates.ToString("N2")/10</p>
                    }
                    @if (movie.Categories.Count() == 1)
                    {
                        <h6 class="card-title font-weight-bold text-center">Category</h6>
                    }
                    @if (movie.Categories.Count() > 1)
                    {
                        <h6 class="card-title font-weight-bold text-center">Categories</h6>
                    }
                    @foreach (var category in movie.Categories)
                    {
                        <p class="card-text font-weight-light text-center">@category.CategoryName</p>
                    }
                    <div class="text-center">
                        <a asp-controller="Movies" asp-action="GetMovieById" asp-route-id="@movie.Id" class="btn text-center">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@this.Model" />

