@model MiniMovieWorld.Web.ViewModels.Movies.MovieViewModel

@{
    this.ViewData["Title"] = $"{this.Model.Title} ({this.Model.Year})";
}

<h1 style="font-size: 75px" class="text-center">@this.ViewData["Title"]</h1>

<div class="container">
    <div class="form-group text-center">
        <img src="~/images/MovieImages/@this.Model.Image" class="img rounded" style="width: 20rem;" />
        <br />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Released In</label>
        <h5 class="form-control-plaintext text-center" />
        @this.Model.Year
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        <h5 class="form-control-plaintext text-center" />
        @this.Model.Duration
    </div>
    @if (this.Model.UserRates > 0)
    {
        <div class="form-group">
            <label asp-for="UserRates" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Rated</label>
            <h5 class="form-control-plaintext text-center" />
            @this.Model.UserRates.ToString("N2")/10
        </div>
    }
    <label asp-for="Synopsis" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
    <div class="row text-center">
        <div class="text-center">
            <p class="item-description text-center">
                @this.Model.Synopsis
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Actors" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        @foreach (var actor in this.Model.Actors)
        {
            <a asp-controller="Actors" asp-action="GetActorById" asp-route-id="@actor.Id" class="form-control-plaintext text-center" style="color: #ff5f13">@actor.FullName</a>
        }
    </div>
    <div class="form-group">
        <label asp-for="Producers" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        @foreach (var producer in this.Model.Producers)
        {
            <a asp-controller="Producers" asp-action="GetProducerById" asp-route-id="@producer.Id" class="form-control-plaintext text-center" style="color: #ff5f13">@producer.FullName</a>
        }
    </div>
    <div class="form-group">
        <label asp-for="Directors" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        @foreach (var director in this.Model.Directors)
        {
            <a asp-controller="Directors" asp-action="GetDirectorById" asp-route-id="@director.Id" class="form-control-plaintext text-center" style="color: #ff5f13">@director.FullName</a>
        }
    </div>
    <div class="form-group">
        <label asp-for="Categories" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        @foreach (var categories in this.Model.Categories)
        {
            <input asp-for="@categories.CategoryName" class="form-control-plaintext text-center" />
        }
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <a asp-controller="Users" asp-action="AddToCollection" asp-route-id="@this.Model.Id" class="btn text-center">Add To Watchlist</a>
        </div>
    }
</div>

