@model MiniMovieWorld.Web.ViewModels.Directors.SingleDirectorViewModel

@{
    this.ViewData["Title"] = $"{this.Model.FirstName + " " + this.Model.LastName}";
}

<h1 style="font-size: 75px" class="text-center">@this.ViewData["Title"]</h1>

<div class="container">
    <div class="form-group text-center">
        <img src="~/images/directorImages/@this.Model.Image" class="img rounded" style="width: 20rem;" />
        <br />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">First Name</label>
        <h5 class="form-control-plaintext text-center" />
        @this.Model.FirstName
    </div>
    @if (!string.IsNullOrEmpty(this.Model.MiddleName))
    {
        <div class="form-group">
            <label asp-for="MiddleName" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Middle Name</label>
            <h5 class="form-control-plaintext text-center" />
            @this.Model.MiddleName
        </div>
    }
    <div class="form-group">
        <label asp-for="LastName" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Last Name</label>
        <h5 class="form-control-plaintext text-center" />
        @this.Model.LastName
    </div>
    @if (!string.IsNullOrEmpty(this.Model.DirectorBio))
    {
        <label asp-for="DirectorBio" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Short Director Biography</label>
        <div class="row text-center">
            <div class="text-center">
                <p class="item-description text-center">
                    @this.Model.DirectorBio
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Age" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px"></label>
        <h5 class="form-control-plaintext text-center" />
        @this.Model.Age
    </div>
    <div class="form-group">
        <label asp-for="DirectorMovies" class="form-control-plaintext font-weight-bold text-center" style="font-size:25px">Directed Movies:</label>
        @foreach (var directorMovie in this.Model.DirectorMovies)
        {
            <a asp-controller="Movies" asp-action="GetMovieById" asp-route-id="@directorMovie.Id" class="form-control-plaintext text-center" style="color: #ff5f13">@directorMovie.Title</a>
        }
    </div>
</div>
